<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(titulo)">
    <meta charset="UTF-8">
    <title th:text="${titulo} + ' - Acervo Digital'">Biblioteca Digital</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <head th:fragment="head(titulo)">
    <meta charset="UTF-8">
    <title th:text="${titulo} + ' - Acervo Digital'">Biblioteca Digital</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    <script th:src="@{/js/main.js}" defer></script>
</head>
</head>

</html>